/*movie search list*/
.top-results{
  background-color: #efeef1;
}
.top-results p{
  padding-left: 10px;
}
.movie-list{
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  max-height: 520px;
  overflow-y: scroll;
  width: 390px;
}
.movie-module{
  background-color: #faf9fa;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  justify-content: center;
  color: #252937;
  text-decoration: none;
}
.movie-module:hover{
  background-color: #252937;
  color: white;
}
@media screen and (max-width: 520px){
  .movie-list{
    position: absolute;
    max-height: 100%;
    overflow-y: scroll;
    width: 100%;
    left: 0;
    right: 0px;
    top: 70px;
  }
}
