/*home*/
.recent-movies{
  display: flex;
  flex-wrap: wrap;
}
.recent-movies-title{
  width: 100%;
  flex-direction: column;
}
.recent-movies-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.recent-movie{
  flex-basis: 200px;
  text-align: center;
  margin: 10px 10px 0px 10px;
}
img.recent-movie-poster{
  opacity: 1;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 0.05s;
	transition: transform 0.05s;
	-webkit-transform: perspective(1000px) translate3d(0,0,0);
	transform: perspective(1000px) translate3d(0,0,0);
	
}

.recent-movie:hover img.recent-movie-poster{
  opacity: .85;
  -webkit-transform: perspective(1000px) translate3d(0,0,21px);
	transform: perspective(1000px) translate3d(0,0,21px);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, .4);
  backface-visibility: hidden;    
  -webkit-filter: blur(0);

}