body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.test{
  border: red solid 1px;
}
.Movie-Search{
  margin-bottom: 30px;
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.Movie-Search form input{
  width: 297px;
}

.Movie-Info{
  background-color: #eee;
  position: absolute;
  z-index: 99999;
}

.Movie-List img{
  width: 40px;
  float: left;
  margin-left: 30px;
}

.Movie-List h1{
  font-size: 16px;
  display: block;
}

.Movie-List h2{
  font-size: 13px;
  width: 200px;
  text-align: left;
  margin-left: 20px;
  float: left;
}

.Movie-List .movie-module{
  width: 100%;
  float: left;
  outline: gray solid 1px;
  padding: 10px 0px;
}

.movie-info{
  text-align: left;
}
.movie-info h4{
  font-size: 15px;
}

.movie-poster img{
  width: 100%;
}


.button{
  background-color: #cc7b19;
  background-image: none;
  text-transform: uppercase;
  border: solid 1px #cc7b19;
  padding: 5px 15px;
  border-radius: 3px;
}

.button:hover{
  background-color: #b56d16;
  border: solid 1px #b56d16;
}

.col-sm-12.auth-form{
  padding: 20px 100px;
}

.container{
  width: 100%;
}