@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

h1,h2,h3,h4,h5,h6,p,li,a{
  font-family: 'Lato', sans-serif;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*main overall*/

.app{
  display: flex;
}
.sidebar{
  min-width: 300px;
  background-color: #2a2c3c;
}

.header{ 
  width: 100%;
  display: flex;
}
.main{
  width: 100%;
}

hr{
  border: 0px;
  height: 1px;
  background-color: #efefef;
}


/*movie landing page*/

.movie{
  flex-direction: column;
  display: flex;
  /*justify-content: space-between;*/
}
.movie-header{
  display: flex;
  position: relative;
}
.movie-header-backdrop:before{
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(56,58,78,.95);
}
.movie-header-backdrop{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}

.movie-header-content{
  border: #eee solid 1px;
  width: 1000px;
  margin: 0 auto;
  padding: 40px 0px;
  display: flex;
}

.movie-header-content h4{
  margin: 0px 0px 5px 0px;
}



.movie-header-info{
  flex: 1;
  padding-left: 40px;
  color: white;
}


.movie-sub-content{
  border:red solid 1px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.movie-attributes{
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.movie-rating h4{
  font-size: 38px;
}
.movie-rating h4 sup{
  font-size: 14px;
}



.runtime{
 margin-right: 15px;
 text-transform: uppercase;
}
.genre{
  text-transform: uppercase;
}
.genre-title{
  display: inline-block;
  margin-left: 5px;
  color: #ff9104;
  font-family: 'Lato', sans-serif;
}

.runtime h4{
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}


.movie-content{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.movie-sub-credits{
  display: flex;
  
}


.movie-backdrop{
  height: 300px;
  position: relative;
}

.movie-media{
  flex-basis: 350px; 
}
.movie-poster{
  position: relative;
}


.movie-content{
  margin-top: 30px;
  flex: 9;
  display: flex;
  flex-wrap: wrap;
}
.movie-info{
  width: 100%;
  flex-direction: column;
  
}

.movie-profile-img{
  border-radius: 40px;
}

.credits{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.crew{

  flex: 2;
  
}
.cast{
  margin-left: 20px;
  
  flex: 5;
}

.profile{
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
}
.profile-image{
  
  flex: 1;
}
.profile-name{
  flex: 2;
  text-align: left;
  margin-left: 20px;
}

.name-title{
  font-weight: 600;
  color: black;
  margin: 0px;
}
.name-title-sub{
  margin: 0px;
}


.blank-profile{
  width: 66px;
  height: 66px;
  background-color: #dbdbdb;
  border-radius: 50px;
  margin: 0 auto;
}

.cast p{
  margin: 0px;
}



.cast-group{
  flex: 1;
  margin-left: 20px;
  width: 260px;
}

.actor{
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
}
.actor-image{
  flex: 1;
}


h4.info-title{
  text-transform: uppercase;
  color: #7b828b;
}

.genre h4{
  display: inline-block;
}
.genre-type{
  display: inline-block;
  padding-left: 5px;
}

.movie-title h1{
  font-size: 36px;
  position: relative;
  font-weight: 900;
  margin: 0px;
}
.movie-title .year{
  font-weight: 400;
  font-size: 16px;
  position: relative;
  left: 5px;
  top: -5px;
}

.plot p{
  font-size: 18px;
}

.Movie-Search{
  position: relative;
  width: 300px;
}

.Movie-Search form input{
  width: 297px;
}

.Movie-Info{
  background-color: #eee;
  position: absolute;
  z-index: 99999;
}





.button{
  background-color: #cc7b19;
  background-image: none;
  text-transform: uppercase;
  border: solid 1px #cc7b19;
  padding: 5px 15px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  font-weight: 600;
}

.button:hover{
  background-color: #b56d16;
  border: solid 1px #b56d16;
}

.col-sm-12.auth-form{
  padding: 20px 100px;
}




