@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

h1,h2,h3,h4,h5,h6,p,li,a{
  font-family: 'Lato', sans-serif;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*main overall*/

.app{
  display: flex;
}
.sidebar{
  min-width: 300px;
  background-color: #2a2c3c;
}
.movie-note{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.header{ 
  width: 100%;
  display: flex;
}
.main{
  width: 100%;
}

hr{
  border: 0px;
  height: 1px;
  background-color: #efefef;
}

/*sidebar*/
.user{
  display: flex;
  background-color: #212330;
  color: white;
  padding: 20px;
}

.sidebar-title a{
  display: block;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-weight: 400;
}

.sidebar-title h2{
  margin: 0px;
}


.movie-note ul{
  margin: 0px;
  padding: 0px;
}
.movie-note ul li{
  
}
.movie-note ul li a{
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: white;
}
.movie-note ul li a:hover{
  background-color: #252937;
}
.checkbox{
  margin-right: 10px;
}



/*home*/
.recent-movies{
  display: flex;
  flex-wrap: wrap;
}
.recent-movies-title{
  width: 100%;
  flex-direction: column;
}
.recent-movies-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: red solid 1px;
  justify-content: center;
}
.recent-movie{
  flex-basis: 200px;
  text-align: center;
  margin: 10px 10px 0px 10px;
}
img.recent-movie-poster{
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/*movie landing page*/





.movie{
  flex-direction: column;
  display: flex;
  /*justify-content: space-between;*/
}
.movie-header{
  display: flex;
  position: relative;
}
.movie-header-backdrop:before{
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(56,58,78,.95);
}
.movie-header-backdrop{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}

.movie-header-content{
  border: #eee solid 1px;
  width: 1000px;
  margin: 0 auto;
  padding: 40px 0px;
  display: flex;
}

.movie-header-content h4{
  margin: 0px 0px 5px 0px;
}

.movie-poster{
  flex-basis: 300px;
  
}
img.movie-poster-img{
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.movie-header-info{
  flex: 1;
  padding-left: 40px;
  color: white;
}


.movie-sub-content{
  border:red solid 1px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.movie-attributes{
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.movie-rating h4{
  font-size: 38px;
}
.movie-rating h4 sup{
  font-size: 14px;
}

.rating{
 margin-right: 15px;
}
.cert{
  border: white solid 2px;
  display: inline-block;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 10px;
  font-family: 'Lato', sans-serif;
}
.runtime{
 margin-right: 15px;
 text-transform: uppercase;
}
.genre{
  text-transform: uppercase;
}
.genre-title{
  display: inline-block;
  margin-left: 5px;
  color: #ff9104;
  font-family: 'Lato', sans-serif;
}

.runtime h4{
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}


.movie-content{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.movie-sub-credits{
  display: flex;
  
}


.movie-backdrop{
  height: 300px;
  position: relative;
}

.movie-media{
  flex-basis: 350px; 
}
.movie-poster{
  position: relative;
}


.movie-content{
  margin-top: 30px;
  flex: 9;
  display: flex;
  flex-wrap: wrap;
}
.movie-info{
  width: 100%;
  flex-direction: column;
  
}

.movie-profile-img{
  border-radius: 40px;
}

.credits{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.crew{

  flex: 2;
  
}
.cast{
  margin-left: 20px;
  
  flex: 5;
}

.profile{
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
}
.profile-image{
  
  flex: 1;
}
.profile-name{
  flex: 2;
  text-align: left;
  margin-left: 20px;
}

.name-title{
  font-weight: 600;
  color: black;
  margin: 0px;
}
.name-title-sub{
  margin: 0px;
}


.blank-profile{
  width: 66px;
  height: 66px;
  background-color: #dbdbdb;
  border-radius: 50px;
  margin: 0 auto;
}

.cast p{
  margin: 0px;
}



.cast-group{
  flex: 1;
  margin-left: 20px;
  width: 260px;
}

.actor{
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
}
.actor-image{
  flex: 1;
}

.recommendations{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-rec{
  display: flex;
  flex-wrap: wrap;
}

.movie-sub-media{
  display: flex;
}

.movie-rec-img{
  width: 100%;
}

h4.info-title{
  text-transform: uppercase;
  color: #7b828b;
}

.genre h4{
  display: inline-block;
}
.genre-type{
  display: inline-block;
  padding-left: 5px;
}

.movie-title h1{
  font-size: 36px;
  position: relative;
  font-weight: 900;
  margin: 0px;
}
.movie-title .year{
  font-weight: 400;
  font-size: 16px;
  position: relative;
  left: 5px;
  top: -5px;
}

.plot p{
  font-size: 18px;
}

.Movie-Search{
  position: relative;
  width: 300px;
}

.Movie-Search form input{
  width: 297px;
}

.Movie-Info{
  background-color: #eee;
  position: absolute;
  z-index: 99999;
}

/*movie search list*/
.top-results{
  background-color: #efeef1;
}

.movie-list{
  display: flex;
  flex-direction: column;
  max-height: 520px;
  overflow-y: scroll;
}
.movie-module{
  background-color: #faf9fa;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  justify-content: center;
  color: #252937;
  text-decoration: none;
}

.movie-module:hover{
  background-color: #252937;
  color: white;
}

.module-poster{ 
  flex: 1;
  height: 57px;
  overflow: hidden;
}

img.module-poster-img{
  width: 100%;
  height:100%;
}

.module-title{
  margin-left: 20px;
  flex: 6;
}
.module-title h4{
  margin: 0px;
  font-size: 13px;
}


.module-poster-img-placeholder{
  width:100%;
  height:100%;
  background-color: #ddd;
}


/*.movie-list img{
  width: 40px;
  float: left;
  margin-left: 30px;
}

.movie-list h1{
  font-size: 16px;
  display: block;
}

.movie-list h2{
  font-size: 13px;
  width: 200px;
  text-align: left;
  margin-left: 20px;
  float: left;
}

.movie-list .movie-module{
  width: 100%;
  float: left;
  outline: gray solid 1px;
  padding: 10px 0px;
}*/


.button{
  background-color: #cc7b19;
  background-image: none;
  text-transform: uppercase;
  border: solid 1px #cc7b19;
  padding: 5px 15px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  font-weight: 600;
}

.button:hover{
  background-color: #b56d16;
  border: solid 1px #b56d16;
}

.col-sm-12.auth-form{
  padding: 20px 100px;
}

/*youtube video*/



