/*sidebar*/
.movie-note{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.user{
  display: flex;
  background-color: #212330;
  color: white;
  padding: 0px 0px 0px 20px;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
.sidebar-title a{
  display: block;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-weight: 400;
  border-bottom: #212330 solid 1px;
}
.sidebar-title a:hover{
  background-color: #383a4e;
}
.sidebar-title h2{
  margin: 0px;
}
.watchlist-title h2{
  color: white;
  font-weight: 400;
  font-size: 16px;
  padding: 20px 0px 20px 20px;
  background-color: #383a4e;
  margin: 0px;
  border-bottom: #212330 solid 1px;
}
.movie-note ul{
  margin: 0px;
  padding: 0px;
}
.movie-note ul li a{
  text-decoration: none;
  color: white;
  flex-grow: 1;
  padding: 10px;
}
.movie-note ul li:hover{
  cursor: pointer;
  background-color: #252937;
}
.checkbox{
  margin-right: 10px;
}
.login-user-mobile{
  display: none;
}

.watchlist-module{
  display: flex;
  align-items: center;
  border-bottom: #212330 solid 1px;
}

.watchlist-module .checkbox{
  flex-basis: 30px;
  margin-left: 15px;
}


@media screen and (max-width: 950px){
  .login-user-mobile{
    display: block;
  }
  .login-user-mobile .button{
    width: 100%;
    display: block;
    border-radius: 0px;
    padding: 10px 20px;
    text-align: left;
    border-bottom: #212330 solid 1px;
  }
}