/*sidebar*/
.movie-note{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.user{
  display: flex;
  background-color: #212330;
  color: white;
  padding: 0px 0px 0px 20px;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
.sidebar-title a{
  display: block;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-weight: 400;
  border-bottom: #212330 solid 1px;
}
.sidebar-title a:hover{
  background-color: #383a4e;
}

.sidebar-title h2{
  margin: 0px;
}
.watchlist-title h2{
  color: white;
  font-weight: 400;
  font-size: 16px;
  padding: 20px 0px 20px 20px;
  background-color: #383a4e;
  margin: 0px;
  border-bottom: #212330 solid 1px;
}
.movie-note ul{
  margin: 0px;
  padding: 0px;
}
.movie-note ul li a{
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: white;
}
.movie-note ul li a:hover{
  background-color: #252937;
}
.checkbox{
  margin-right: 10px;
}


@media screen and (min-width: 950px){
  .sidebar.show{
    display: block;
    border: green solid 3px;
    position: relative
  }
}